[profile.default]
src = "contracts"
out = "out"
libs = ["node_modules", "../lib"]
solc_version = "0.8.28"
optimizer = true
optimizer_runs = 200
via_ir = true

[rpc_endpoints]
mainnet = "https://eth.llamarpc.com"

[fmt]
line_length = 120
tab_width = 4
bracket_spacing = true
